---

---

<div
  class="section relative z-[1] hidden items-center gap-[0.3125rem] bg-white text-icon-gray md:flex md:py-[2.1875rem]"
>
  <a href="/">Home</a><span>&gt;</span>
  <p><slot name="post" /></p><span class="text-primary-dark-blue">&gt;</span>
  <h1 class="... max-w-[14.375rem] truncate text-primary-dark-blue">
    <slot />
  </h1>
</div>
