---
import { Icon } from 'astro-icon/components';
import dayjs from 'dayjs';

import { type Time } from '@/types/api';
interface Props {
  time: Time;
}
const { time } = Astro.props;
---

<div class="flex items-center gap-[0.0625rem]">
  <slot>
    <Icon
      name="tabler:calendar-filled"
      class="vertical-start mb-[0.1875rem] inline-block h-[1.25rem] w-[1.25rem]"
    />
    <div class="text-card-tag leading-card-tag">
      {dayjs(time).format('MMM D, YYYY')}
    </div></slot
  >
</div>
