---
import { twMerge } from 'tailwind-merge';

import Link from '../base/Link.astro';

import Tabs from './Tabs.astro';

import type { ComponentProps } from 'astro/types';

import { TABS_MAX_LENGTH } from '@/config/config';
type Props = ComponentProps<typeof Tabs>;

const { tabs, activeKey, className = '' } = Astro.props;
---

<nav
  class={twMerge(
    `grid grid-cols-2 md:grid-cols-5 md:gap-0 gap-[0.625rem_0.8125rem]`,
    className
  )}
>
  {
    tabs.slice(0, TABS_MAX_LENGTH).map((item) => (
      <Link
        class:list={[
          'inline-block text-tabs leading-tabs py-tab-y uppercase font-sans break-all text-center cursor-pointer',
          activeKey === item.link
            ? '!text-primary-dark-blue border-[0.0625rem] border-primary-dark-blue'
            : '!text-gray-dark bg-gray-light hover:bg-gray-200',
        ]}
        href={item.link}
      >
        <div class="line-clamp-1">{item.label}</div>
      </Link>
    ))
  }
</nav>
